{ erl_opts , [ no_debug_info ] } .

{ deps , [ ] } .

{ escript_incl_apps , [ script ] } .

{ escript_main_app , script } .

{ escript_name , script } .

{ escript_emu_args , "%%! +sbtu +A1\n" } .

%% Profiles
{ profiles , [ { test , [ { erl_opts , [ debug_info ] } ] } ] } .

{ plugins , [ rebar3_format ] } .
